/* 版心 */

.w {
    margin: 0 auto;
    width: 1080px;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
/* 背景色 */

body {
    background-color: #eeeeee;
    font-size: 12px;
}


/* 链接a的样式 */

.link {
    color: #333333;
    text-decoration: none;
}

.link:hover {
    color: #1890ff;
}

.clo-1 {
    width: 208px;
}

.clo-gap {
    margin-left: 10px;
}

.clo-4 {
    width: 862px;
}